@charset "UTF-8";
/*

media query manger
0-600px:  phone.
600px-900px: tab port.
900-1200: tab land.
1800+: big screen.

$breakpoint argument choices

phone
tab-port
tab-land
big-desktop

1em =16px
*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@200,300,400;500;600&family=Poppins:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::selection {
  color: #ccd6f6;
  background-color: #233554;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-weight: 43.75%;
  }
}
@media only screen and (max-width: 25em) {
  html {
    font-size: 37.5%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  background-image: linear-gradient(120deg, rgba(10, 25, 47, 0.93), rgba(10, 25, 47, 0.93)), url(../../images/wavybg.jpg);
  background-size: contain;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  box-sizing: border-box;
  position: relative;
}
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-thumb {
  background: #8892b0;
  border-radius: 1rem;
  box-shadow: 0 -100vh 0 100vh rgb(10, 25, 47);
}

main {
  margin: 0 auto;
  width: 90vw;
  padding: 0 10rem;
}
@media only screen and (max-width: 25em) {
  main {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  main {
    padding: 0 2rem;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
@keyframes appear {
  from {
    transform: scale(0.2);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes cursor-blink {
  50% {
    border-color: white;
  }
}
@keyframes dotted {
  from {
    outline: 1px dotted #00e1ff;
  }
  to {
    outline: 3px dotted #00e1ff;
  }
}
.heading {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 400;
  text-transform: none;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-xlg {
  margin-bottom: 5rem;
}

.section {
  transition: transform 1s, opacity 1s;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.hideoverlay {
  display: none;
}

@media only screen and (max-width: 37.5em) {
  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
  }
}

.message-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 2rem;
  height: 30rem;
  background: linear-gradient(135deg, rgba(9, 5, 5, 0.2), rgba(255, 255, 255, 0));
  backdrop-filter: blur(45px);
  -webkit-backdrop-filter: blur(45px);
  box-shadow: 0 10px 30px -15px rgba(16, 44, 87, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.18);
  color: #ccd6f6;
  border-radius: 10px;
  display: grid;
  place-items: center;
  z-index: 6;
}
.message .message__content {
  text-align: center;
  font-size: 1.7rem;
  margin: 0 auto;
}

.hidemessage {
  display: none;
  opacity: 0;
}

.general_font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.resume a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}
.resume a .download_icon {
  fill: currentColor;
  height: 1.5rem;
  width: 1.5rem;
}

.btn, .btn:link {
  font-family: "Fira Code", monospace;
  background-color: transparent;
  color: #00e1ff;
  outline: 2px solid rgba(0, 225, 255, 0.5);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn:hover {
  background-color: #014149;
  transform: translateY(-0.5rem);
  box-shadow: 0px 0.4rem 1rem 0px rgba(61, 54, 67, 0.375);
  color: #ccd6f6;
}
.btn:active {
  transform: translateY(0);
  box-shadow: 0px 0.2rem 1rem 0px rgb(19, 15, 22);
}
.btn-big {
  width: 20rem;
  height: 5rem;
  font-size: 2rem;
}
.btn-small {
  padding: 0.7rem 1rem;
}

.button {
  font-family: "Fira Code", monospace;
}
.button, .button:link, .button:visited {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  color: #8892b0;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in;
  transform-origin: bottom;
  text-transform: capitalize;
  width: max-content;
  display: flex;
  justify-content: flex-start;
  align-self: center;
}
@media only screen and (max-width: 25em) {
  .button, .button:link, .button:visited {
    padding: 1rem;
  }
}
.button:hover, .button:active {
  color: #00e1ff;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #233554 50%);
  background-size: 250%;
  background-position: 100%;
}

.show_more {
  width: 30%;
}
@media only screen and (max-width: 37.5em) {
  .show_more {
    justify-self: center;
  }
}

.job__description h3 {
  text-transform: capitalize;
  color: #ccd6f6;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}
.job__description h3 .company {
  color: #00e1ff;
}
.job__description h3 a {
  text-decoration: none;
  color: #00e1ff;
}
.job__description .duration {
  color: #8892b0;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.job__description .description-details ul {
  color: #8892b0;
  font-size: 1.8rem;
}
.job__description .description-details ul li {
  display: flex;
  padding-bottom: 0.5rem;
}
.job__description .description-details ul li::before {
  content: "▹";
  color: #00e1ff;
  font-size: 2rem;
  gap: 2.5rem;
}
.job__description .description-details ul li a {
  display: contents;
  color: #69ebfc;
}

.nav {
  height: 7rem;
  align-content: center;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  padding: 0 5rem;
  width: 100%;
  z-index: 5;
}
.nav__check-box {
  display: none;
}
.nav__button {
  z-index: 7;
}
@media only screen and (max-width: 37.5em) {
  .nav {
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
  }
  .nav__button {
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 3rem;
    right: 4rem;
    border-radius: 1rem;
    cursor: pointer;
  }
  .nav__icon {
    height: 0.4rem;
    width: 4rem;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
  }
  .nav__icon, .nav__icon::before, .nav__icon::after {
    background-color: #00e1ff;
    display: inline-block;
  }
  .nav__icon::before, .nav__icon::after {
    content: " ";
    height: 0.4rem;
    width: 3rem;
    right: 0.5rem;
    transition: all 0.3s ease;
  }
  .nav__icon::before {
    position: absolute;
    top: -1.2rem;
  }
  .nav__icon::after {
    position: absolute;
    top: 1.2rem;
  }
  .nav__icon:hover::before {
    top: -0.8rem;
  }
  .nav__icon:hover::after {
    top: 0.8rem;
  }
  .nav__icon:active {
    color: transparent;
  }
  .nav {
    /* controls the main nav (main background)
          expected values:
          height:100vh;
          width: 65%;
          */
    height: 0;
  }
}
.nav__navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media only screen and (max-width: 37.5em) {
  .nav__navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*controls the unordered list::
          expected value
           width: 100%;
          */
    height: 0;
    width: 0;
    background-color: rgb(10, 25, 47);
    backdrop-filter: blur(100px);
    box-shadow: 0 10px 30px -15px rgba(16, 44, 87, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.18);
    position: absolute;
    right: 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav__navigation {
    height: 0;
    width: 0;
  }
}
.nav__list {
  font-weight: 200;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  font-family: monospace;
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3rem;
  margin-right: 2rem;
  transition: all 0.2s cubic-bezier(0.25, 0.1, 0.2, 1.05);
}
@media only screen and (max-width: 37.5em) {
  .nav__list {
    /*controls the li:
          width: 100%;*/
    width: 0%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    font-size: 2rem;
    padding: 2rem 0;
  }
}
.nav__item {
  transition: all 0.2s ease-in;
}
.nav__item--num {
  text-transform: none;
  color: #00e1ff;
}
.nav__item:hover {
  transform: scale(1.1, 1.1);
}
@media only screen and (max-width: 37.5em) {
  .nav__item {
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #233554 50%);
    padding: 1rem 4rem;
    background-size: 220%;
    transition: all 0.2s ease-in;
  }
  .nav__item:hover {
    background-position: 100%;
    transform: translateX(1.2rem) scale(1.2, 1.2);
  }
}
.nav__link {
  transition: all 0.2s ease;
  color: #ccd6f6;
  text-decoration: none;
}
.nav__link:hover {
  color: #00e1ff;
}
@media only screen and (max-width: 37.5em) {
  .nav__link {
    display: block;
  }
}
.nav__check-box:checked ~ .nav__navigation {
  height: 100vh;
  width: 65%;
}
.nav__check-box:checked ~ .nav__navigation > .nav__list {
  width: 100%;
}
.nav__check-box:checked + .nav__button > .nav__icon {
  background-color: transparent;
}
.nav__check-box:checked + .nav__button > .nav__icon::before {
  top: 0;
  transform: rotate(-135deg);
}
.nav__check-box:checked + .nav__button > .nav__icon::after {
  top: 0;
  transform: rotate(135deg);
}

.sticky {
  position: fixed;
  background: linear-gradient(135deg, rgba(9, 5, 5, 0.2), rgba(255, 255, 255, 0));
  backdrop-filter: blur(45px);
  -webkit-backdrop-filter: blur(45px);
  box-shadow: 0 10px 30px -15px rgba(16, 44, 87, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.18);
}

.header {
  height: calc(100vh - 7rem);
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  padding: 2rem 0;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 37.5em) {
  .header {
    height: 100vh;
  }
}
.header__container {
  align-items: start;
}
@media only screen and (max-width: 56.25em) {
  .header__container {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 25em) {
  .header__container {
    font-size: 2rem;
  }
}
.header__hi {
  font-size: 2.5rem;
  font-weight: 200;
  color: #00e1ff;
  font-family: "Fira Code", monospace;
}
@media only screen and (max-width: 25em) {
  .header__hi {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__hi {
    font-size: 2.4rem;
  }
}
.header__name {
  font-size: 7rem;
  background-image: linear-gradient(to right, #8892b0, #ccd6f6);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media only screen and (max-width: 75em) {
  .header__name {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__name {
    font-size: 5.7rem;
  }
}
@media only screen and (max-width: 25em) {
  .header__name {
    font-size: 6rem;
  }
}
.header__sub {
  font-size: 6rem;
  color: #8892b0;
  margin-top: -2rem;
}
@media only screen and (max-width: 75em) {
  .header__sub {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .header__sub {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__sub {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 25em) {
  .header__sub {
    font-size: 4rem;
  }
}
.header__description {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  color: #8892b0;
  width: 65%;
  font-weight: 400;
  line-height: 1.5;
}
@media only screen and (max-width: 37.5em) {
  .header__description {
    font-weight: 400;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 25em) {
  .header__description {
    font-size: 2.3rem;
    width: 100%;
  }
}
.header .b {
  justify-self: start;
  align-self: center;
}

.exp {
  height: auto;
  max-width: 90rem;
  padding: 10rem 5rem;
  margin: 0 auto;
}
@media only screen and (max-width: 37.5em) {
  .exp {
    padding: 10rem 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .exp {
    padding: 10rem 0;
  }
}
.exp .h2b {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: relative;
}
.exp .h2b::before {
  font-family: "Fira Code", monospace;
  content: "02.";
  font-size: 2rem;
  color: #00e1ff;
  margin-right: 1rem;
}
.exp__inside {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .exp__inside {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.exp__inside .job-tabs {
  text-align: left;
  display: flex;
  width: 35.4rem;
  border-left: 0.2px solid #8892b0;
  height: max-content;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}
.exp__inside .job-tabs::-webkit-scrollbar {
  width: 0.2rem;
  height: 1rem;
}
.exp__inside .job-tabs::-webkit-scrollbar-thumb {
  background: #8892b0;
  border-radius: 1rem;
  box-shadow: 0 -100vh 0 100vh rgb(10, 25, 47);
}
@media only screen and (max-width: 37.5em) {
  .exp__inside .job-tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-left: none;
    border-bottom: 2px solid #8892b0;
    background: linear-gradient(135deg, rgba(9, 5, 5, 0.2), rgba(255, 255, 255, 0));
    backdrop-filter: blur(45px);
    -webkit-backdrop-filter: blur(45px);
    box-shadow: 0 10px 30px -15px rgba(16, 44, 87, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.18);
    gap: 2rem;
  }
}
.exp__inside .job-tabs .button__tab {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  width: 100%;
  text-align: start;
}
.exp__inside .job-tabs .button__tab:focus {
  border-left: 2px solid #00e1ff;
  color: #00e1ff;
}
@media only screen and (max-width: 37.5em) {
  .exp__inside .job-tabs .button__tab:focus {
    border-left: none;
    border-bottom: 2px solid #00e1ff;
  }
}
@media only screen and (max-width: 37.5em) {
  .exp__inside .job-tabs .button__tab {
    text-align: center;
    font-size: 1.7rem;
    width: max-content;
  }
}
.exp__inside .job__description {
  padding: 0rem 0.5rem;
  height: max-content;
  width: 100%;
}
.exp__inside .job__description .duration {
  font-family: "Fira Code", monospace;
  font-weight: 200;
}
.exp__inside .job__description .description-details > ul {
  font-size: 1.5rem;
  font-weight: 400;
}
@media only screen and (max-width: 37.5em) {
  .exp__inside .job__description .description-details > ul {
    font-size: 2rem;
  }
}

.works {
  height: 50vh;
  padding: 10rem 0;
}

.describe {
  display: none;
}

.describe--active {
  display: block;
  animation: appear 0.3s ease-in;
}

.works .project__container .project__content .tools .icon-link, .works .project__container .project__content .tools .git-link {
  height: 2.3rem;
  width: 2.3rem;
  justify-content: end;
  fill: #ccd6f6;
}
.works .project__container .project__content .tools .icon-link:hover, .works .project__container .project__content .tools .git-link:hover {
  fill: #00e1ff;
}

.works {
  height: auto;
  padding: 10rem 0;
  font-size: 16px;
  color: beige;
}
.works h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.works h2::before {
  font-family: "Fira Code", monospace;
  content: "03.";
  font-size: 2rem;
  color: #00e1ff;
  margin-right: 1rem;
}
.works .project__lists {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.works .project__container {
  height: 20%;
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(8, 1fr);
}
.works .project__container .project__image {
  width: 100%;
  height: 100%;
  outline: 1px solid rgba(255, 255, 255, 0.18);
  filter: grayscale(100%);
  transition: all ease 0.2s;
  border-radius: 10px;
}
.works .project__container .project__image:hover {
  filter: none;
}
.works .project__container .project__image .preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.works .project__container .project__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.works .project__container .project__content .project-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}
.works .project__container .project__content .project-title > a {
  color: #ccd6f6;
  text-decoration: none;
}
.works .project__container .project__content .project-title > a:hover {
  color: #00e1ff;
}
.works .project__container .project__content .project__description {
  background: linear-gradient(135deg, #09172b, rgba(255, 255, 255, 0));
  border: 2px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(45px);
  padding: 2rem;
  border-radius: 10px;
  z-index: 2;
  position: relative;
  align-content: center;
  color: #ccd6f6;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
}
.works .project__container .project__content .project__description:hover {
  cursor: pointer;
  box-shadow: rgba(16, 44, 87, 0.7);
}
@media only screen and (max-width: 37.5em) {
  .works .project__container .project__content .project__description {
    font-size: 2rem;
  }
}
.works .project__container .project__content .tools {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .works .project__container .project__content .tools {
    justify-self: start;
  }
}
.works .project__container .project__content .tools-list {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  color: #8892b0;
  font-family: "Fira Code", monospace;
  font-weight: 300;
  font-size: 1.5rem;
  justify-content: flex-end;
}
.works .project__container .project__content .tools .work__links {
  display: flex;
  gap: 2.5rem;
}
@media only screen and (max-width: 37.5em) {
  .works .project__container .project__content .tools .work__links {
    justify-content: start;
  }
}
.right .project__image {
  grid-column: 1/5;
  grid-row: 1/3;
}
.right .project__content {
  grid-column: 4/-1;
  grid-row: 1/3;
}
.right .project__content .project-title {
  text-align: right;
}
.right .project__content .tools {
  align-items: end;
}
.right .project__description {
  text-align: end;
}

.left .project__image {
  grid-column: 5/-1;
  grid-row: 1/3;
}
.left .project__content {
  grid-column: 1/6;
  grid-row: 1/3;
}
.left .project__content .project-title {
  text-align: start;
}
.left .project__content .tools {
  align-items: start;
}
.left .project__description {
  text-align: start;
}

.social__contacts {
  position: fixed;
  bottom: 0;
  left: 5em;
  padding: 0 1rem;
}
@media only screen and (max-width: 37.5em) {
  .social__contacts {
    position: static;
    padding: 2rem;
  }
}
.social__contacts .icon__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .social__contacts .icon__container {
    flex-direction: row;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 9rem;
    background: linear-gradient(135deg, rgba(9, 5, 5, 0.2), rgba(255, 255, 255, 0));
    backdrop-filter: blur(45px);
    -webkit-backdrop-filter: blur(45px);
    box-shadow: 0 10px 30px -15px rgba(16, 44, 87, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.18);
  }
}
.social__contacts .icon__container .whatsapp-icon {
  color: #8892b0;
  text-decoration: none;
}
.social__contacts .icon__container .whatsapp-icon .icofont-brand-whatsapp {
  font-size: 2.7rem;
  color: currentcolor;
  text-align: center;
}
.social__contacts .icon__container .icon {
  width: 2rem;
  fill: #8892b0;
  height: 2rem;
  transition: all 0.2s ease-in;
}
@media only screen and (max-width: 37.5em) {
  .social__contacts .icon__container .icon {
    transform: scale(1.5);
  }
}
.social__contacts .icon__container .icon:hover {
  fill: #00e1ff;
  transform: scale(1.5, 1.5) translateY(-3px);
  height: 2rem;
}
@media only screen and (max-width: 25em) {
  .social__contacts .icon__container .icon:hover {
    transform: scale(2) translateY(-3px);
  }
}
.social__contacts .icon__container::after {
  content: "";
  height: 10rem;
  width: 0.3rem;
  background: #8892b0;
}
@media only screen and (max-width: 37.5em) {
  .social__contacts .icon__container::after {
    display: none;
  }
}

.gmail__container {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 16rem;
  right: -5rem;
  transform: rotate(90deg);
}
.gmail__container::after {
  content: "";
  display: inline-block;
  height: 10rem;
  width: 0.3rem;
  background: #8892b0;
  transform: rotate(90deg);
  position: relative;
  top: 0rem;
  left: 7rem;
}
@media only screen and (max-width: 37.5em) {
  .gmail__container::after {
    display: none;
  }
}
@media only screen and (max-width: 37.5em) {
  .gmail__container .gmail__address {
    display: none;
  }
}
.gmail__container .gmail__address > a {
  transition: all 0.2s ease-in;
  color: #ccd6f6;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Fira Code", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gmail__container .gmail__address > a:active, .gmail__container .gmail__address > a:visited {
  color: #00e1ff;
}
.gmail__container .gmail__address > a:hover {
  cursor: pointer;
  color: #00e1ff;
  transform: scale(1.2);
}

.contact .cta .email-link .btn__visible,
.contact .cta .email-link .btn__invisible, .contact .cta .call-link .btn__visible,
.contact .cta .call-link .btn__invisible {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease;
}

.contact .cta .email-link, .contact .cta .call-link {
  position: relative;
  overflow: hidden;
}

.contact .cta .email-link .btn__invisible, .contact .cta .call-link .btn__invisible {
  position: absolute;
  left: 0;
  top: -100%;
}

.contact {
  padding: 3rem 0;
  margin: 4rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.contact__heading h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.contact__heading h3 {
  color: #00e1ff;
  font-size: 2rem;
  font-family: monospace;
}
.contact__heading h3::before {
  font-family: "Fira Code", monospace;
  content: "04.";
  font-size: 2rem;
  color: #00e1ff;
  margin-right: 1rem;
}
.contact .summary {
  max-width: 60%;
  font-size: 1.7rem;
  color: #8892b0;
  font-weight: 400;
}
@media only screen and (max-width: 37.5em) {
  .contact .summary {
    font-size: 2rem;
    max-width: 80%;
  }
}
.contact .cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.contact .cta:hover {
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .contact .cta {
    flex-direction: column;
  }
}
.contact .cta .call-link {
  text-decoration: none;
  color: #ccd6f6;
}
.contact .cta .call-link .phone-icon {
  font-size: 2rem;
  color: #ccd6f6;
}
.contact .cta .call-link:hover .btn__invisible {
  top: 0;
}
.contact .cta .call-link:hover .btn__visible {
  transform: translateY(-100%);
}
.contact .cta .call-link:hover {
  animation: pulse 1s infinite;
}
.contact .cta .email-link:hover .btn__invisible {
  top: 0;
}
.contact .cta .email-link:hover .btn__visible {
  transform: translateY(-100%);
}
.contact .cta .email-link:hover {
  animation: pulse 1s infinite;
}

.project_sub {
  padding: 5rem 0;
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 37.5em) {
  .project_sub {
    align-items: center;
  }
}
.project_sub h3 {
  color: #ccd6f6;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
@media only screen and (max-width: 37.5em) {
  .project_sub h3 {
    text-align: center;
  }
}
.project_sub .project__sub__container {
  width: 100%;
  display: grid;
  gap: 1rem;
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: repeat(4, min-content);
}
.project_sub .project__sub__container li {
  list-style: none;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.project_sub .project__sub__container li:hover {
  transform: translateY(-10px);
}
.project_sub .project__sub__container li:hover > .project .heading {
  color: #00e1ff;
}
.project_sub .project__sub__container .project {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(9, 5, 5, 0.2), rgba(255, 255, 255, 0));
  backdrop-filter: blur(45px);
  -webkit-backdrop-filter: blur(45px);
  box-shadow: 0 10px 30px -15px rgba(16, 44, 87, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.18);
  padding: 3rem;
  gap: 2rem;
  height: 100%;
}
.project_sub .project__sub__container .project .icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project_sub .project__sub__container .project .icon-container .project-links {
  display: flex;
  gap: 2.5rem;
}
.project_sub .project__sub__container .project .icon-container .file-icon {
  fill: #00e1ff;
  height: 3.5rem;
  width: 3.5rem;
}
.project_sub .project__sub__container .project .icon-container .link-icon {
  fill: #ccd6f6;
  height: 2.3rem;
  width: 2.3rem;
}
.project_sub .project__sub__container .project .icon-container .link-icon:is(:hover) {
  fill: #00e1ff;
}
.project_sub .project__sub__container .project .project__details .heading {
  color: #ccd6f6;
  margin-bottom: 1.2rem;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.project_sub .project__sub__container .project .project__details .heading a {
  color: currentColor;
  text-decoration: none;
  transition: all 0.2s ease;
}
.project_sub .project__sub__container .project .project__details .heading a:active {
  animation: dotted 0.7s;
}
.project_sub .project__sub__container .project .project__details .heading_brief {
  color: #ccd6f6;
  font-size: 1.7rem;
  font-weight: 400;
}
@media only screen and (max-width: 37.5em) {
  .project_sub .project__sub__container .project .project__details .heading_brief {
    font-size: 2rem;
  }
}
.project_sub .project__sub__container .project .project__details .heading_brief a {
  text-decoration: underline;
}
.project_sub .project__sub__container .project .project__tools {
  color: #8892b0;
  font-size: 1.5rem;
  font-family: "Fira Code", monospace;
  font-weight: 300;
}

.footer {
  font-family: "Fira Code", monospace;
  padding: 2rem 0;
  color: #ccd6f6;
  text-align: center;
  font-size: 1.5rem;
}
.footer .footer_link {
  color: #00e1ff;
  text-decoration: none;
  -webkit-text-decoration: none;
}

.about {
  padding: 10rem 0;
  height: auto;
}
.about__heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: relative;
  width: 50%;
  display: flex;
  position: relative;
  align-items: center;
}
.about__heading::before {
  font-family: "Fira Code", monospace;
  content: "01.";
  font-size: 2rem;
  color: #00e1ff;
  margin-right: 1rem;
}
.about__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .about__container {
    row-gap: 4rem;
  }
}
.about__description {
  font-size: 1.7rem;
  color: #8892b0;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  row-gap: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .about__description {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 25em) {
  .about__description {
    grid-column: 1/-1;
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 43.75em) {
  .about__description {
    grid-column: 1/-1;
  }
}
.about__description .list {
  font-family: "Fira Code", monospace;
  list-style: none;
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.7rem;
}
.about__description .list__item {
  flex: 0 0 50%;
}
.about__description .list__item::before {
  content: "▹";
  color: #00e1ff;
  font-size: 2rem;
  margin: 1rem;
}
.about__img-div {
  position: relative;
  height: 35rem;
  width: 25rem;
  background-image: linear-gradient(to right, rgba(105, 235, 252, 0.3), rgba(5, 221, 250, 0.3)), url(../../images/fullshot.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
  background-position: center;
  justify-self: center;
  border-radius: 5px;
  outline: 2px solid #00e1ff;
}
@media only screen and (max-width: 25em) {
  .about__img-div {
    justify-content: center;
  }
}
.about__img-div::after {
  content: "";
  width: 100%;
  height: 100%;
  outline: 2px solid #00e1ff;
  position: absolute;
  top: 2.5rem;
  left: 3rem;
  z-index: -1;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  background-color: #014149;
}
.about__img-div:hover {
  background-image: linear-gradient(to right, transparent, transparent), url(../../images/fullshot.JPG);
}
.about__img-div:hover::after {
  top: 1.5rem;
  left: 2rem;
}

/*# sourceMappingURL=style.css.map */
