@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@200,300,400;500;600&family=Poppins:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

// $light-violet:hsl(270, 3%, 87%);
// $greyish-violet:hsl(279, 6%, 55%);
// $dark-violet:hsl(278, 52%, 57%);
// $dark-violet:hsl(278, 97%, 43%);

$white-color: #ffffff;
$black-color: #020c1b;
$black-color-1: #0a192f;

$card-color: #112240;

// $purple:#dd57ff;
// $purple:#dd57ff;
// $color-1:#deacf5;
// $color-1:#dd57ff;
// $color-1:#f540e9;

// $color-6:#087793;
// $color: #001214;
// $color4: #fafeff;
// $color5: #00e1ff;
// $color6: #cdf8fe;
// $color7: #05ddfa;

$color-1: #00e1ff;
$color-2: #69ebfc;
$color-3: #05ddfa;
$color-4: #014149;

// $color-1: #f765e6;
// $color-2: hsl(274, 53%, 56%);
// $color-3: #6237a0;
// $color-4: #28104e;

// font colors
$slate-color-3: #8892b0;
$slate-color-2: #ccd6f6;
$slate-color1: #ccd6f6;

// color group2
$navy-blue: #233554;
$navy1: rgb(10, 25, 47);

//darer variant
$black-color2: rgb(19, 15, 22);

// lighter-variation
$color-1-light: #ddabf540;

$shadow: rgba(16, 44, 87, 0.7);
$box-shadow: 0 10px 30px -15px $shadow;

$headingNum1: 1;
$headingNum2: 2;
$headingNum2: 3;

$radius: 10px;

//font variables
$font-secondary: "Fira Code", monospace;
$font-primary: "Poppins", sans-serif;
