// $light-violet:hsl(270, 3%, 87%);
// $greyish-violet:hsl(279, 6%, 55%);
// $dark-violet:hsl(278, 52%, 57%);
// $dark-violet:hsl(278, 97%, 43%);

$white-color: hsl(0, 0%, 100%);
$black-color: #020c1b;
$black-color-1: #0a192f;

$card-color: #112240;

// $purple:#dd57ff;
// $purple:#dd57ff;
// $color-1:#deacf5;
// $color-1:#dd57ff;
// $color-1:#f540e9;
// $color-1:#3ef69a;
$color-1: #f765e6;

$color-2: #9754cb;
$color-3: #6237a0;
$color-4: #28104e;

// font colors
$slate-color-3: #8892b0;
$slate-color-2: #ccd6f6;
$slate-color1: #ccd6f6;

// color group2
$navy-blue: #233554;
$navy1: rgb(10, 25, 47);

//darer variant
$black-color2: rgb(19, 15, 22);

// lighter-variation
$color-1-light: rgba(222, 172, 245, 0.25);

$shadow: rgba(16, 44, 87, 0.7);
$box-shadow: 0 10px 30px -15px $shadow;

$headingNum1: 1;
$headingNum2: 2;
$headingNum2: 3;

$radius: 10px;

//font variables
$font-secondary: 'Fira Code', monospace;
$font-primary:'Poppins', sans-serif;
//// font-family: 'Fira Code', monospace;
//font-family: 'Poppins', sans-serif;