.contact{
    padding: 3rem 0;
    margin: 4rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    &__heading{
      
        h3{
            &::before{
                @include beforeEl("04.")
            }
            color: $color-1;
            font-size: 2rem;
            font-family: monospace;
        }
    }
    .summary{
        font-size: 2.5rem;
        color: $slate-color-2;
    }
    .cta{
        &:hover{
            cursor:pointer;
        }
        display: flex;
        gap: 3rem;
        justify-content: center;
        @include respond(phone2){
            flex-direction: column;
        }
        .call-link{ 
            text-decoration: none;
            color: $slate-color1;
            // font-size: 2rem;
            .phone-icon{
                font-size: 2rem;
                color: $slate-color1;
            }
        }
        
    }
    
}