.header {
  height: calc(100vh - 7rem);
  display: grid;
  // align-items: center;
  grid-auto-rows: max-content;
  align-content: center;
  padding: 2rem 0;
  margin-bottom: 5rem;

  // outline: 2px solid #0478fd;

  @include respond(tab-land) {
    // height: calc(100vh - 7rem);
    margin-bottom: 0;
  }
  @include respond(phone2) {
    height: 100vh;
  }

  &__container {
    align-items: start;
    @include respond(desktop) {
    }
    @include respond(tab-land) {
      height: 100%;
      align-content: center;
    }
    @include respond(tab-port) {
      font-size: 2rem;
    }
    @include respond(phone) {
      font-size: 2rem;
    }
  }
  &__hi {
    font-size: 2.5rem;
    font-weight: 200;
    color: $color-1;
    // word-spacing: 5px;
    font-family: $font-secondary;

    // @include respond(tab-land){
    //     font-size: 3rem;
    // }

    @include respond(phone) {
      font-size: 2.5rem; //17.5px
    }
    @include respond(phone2) {
      font-size: 2.4rem;
    }
  }
  &__name {
    font-size: 7rem;
    // color: $slate-color-2;
    background-image: linear-gradient(to right, $slate-color-3, $slate-color-2);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    // // margin: 2em 1em
    // border-right: 1px solid;
    // overflow: hidden;
    // width: 15ch;
    // white-space: nowrap;
    // animation: typing 3s steps(15, end),
    //   cursor-blink 2s step-end infinite alternate;
    @include respond(desktop) {
      font-size: 6rem;
    }
    @include respond(phone2) {
      font-size: 5.7rem;
    }
    @include respond(phone) {
      // font-size: 6rem;
    }
  }
  &__sub {
    font-size: 6rem;
    color: $slate-color-3;
    margin-top: -2rem;
    @include respond(desktop) {
      font-size: 5rem;
    }
    @include respond(tab-port) {
      font-size: 4.5rem;
    }
    @include respond(phone2) {
      font-size: 4rem;
    }
    @include respond(phone) {
      font-size: 4rem;
    }
  }
  &__description {
    font-family: $font-primary;
    // outline: 2px solid yellow;
    // font-size: 3rem; //30px
    font-size: 1.7rem; //30px
    color: $slate-color-3;
    width: 65%;
    font-weight: 400;
    line-height: 1.5;
    @include respond(phone2) {
      font-weight: 400;
      font-size: 2rem;
      width: 100%;
    }
    @include respond(phone) {
      font-size: 2.3rem;
    }
    //   @include respond(phone){
    //     font-size: 3rem;
    //      width: 80%;
    //     &::selection{
    //     color: $slate-color1;
    //     background-color: $slate-color-3;
    // }
    // };
  }
  .b {
    justify-self: start;
    align-self: center;
  }
}
