.project_sub {
  padding: 5rem 0;
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
  @include respond(phone2) {
    align-items: center;
  }

  h3 {
    color: $slate-color-2;
    @include section_heading;

    // font-size: 2rem;
    @include respond(phone2) {
      text-align: center;
    }
  }
  .project__sub__container {
    width: 100%;
    display: grid;
    gap: 1rem;
    row-gap: 2rem;

    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: repeat(4, min-content);
    li {
      list-style: none;
      transition: all 0.2s ease-in;
      &:hover {
        transform: translateY(-10px);
      }
    }

    li:hover > .project .heading {
      color: $color-1;
    }
    .project {
      display: flex;
      flex-direction: column;
      border-radius: $radius;
      @include glass;
      padding: 3rem;
      gap: 2rem;
      height: 100%;
      .icon-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .project-links {
          display: flex;
          gap: 2.5rem;
        }
        .file-icon {
          fill: $color-1;
          height: 3.5rem;
          width: 3.5rem;
        }
        .link-icon {
          fill: $slate-color1;
          height: 2.3rem;
          width: 2.3rem;
          &:is(:hover) {
            fill: $color-1;
          }
        }
      }
      .project__details {
        .heading {
          color: $slate-color-2;
          margin-bottom: 1.2rem;
          font-size: 2rem;
          font-weight: 600;
          text-transform: capitalize;
          & a {
            color: currentColor;
            text-decoration: none;
            transition: all 0.2s ease;
            &:active {
              animation: dotted 0.7s;
            }
          }
        }
        .heading_brief {
          color: $slate-color1;
          font-size: 1.7rem;
          font-weight: 400;

          @include respond(phone2) {
            font-size: 2rem;
          }
          a {
            text-decoration: underline;
          }
        }
      }
      .project__tools {
        color: $slate-color-3;
        font-size: 1.5rem;
        font-family: $font-secondary;
        font-weight: 300;
      }
    }
  }
}
