.gmail__container{
    padding: 0 1rem;
   display: flex;
    align-items: center;
    justify-content: center;
   
    position: fixed;
    bottom: 16rem;
    right: -5rem;
   transform: rotate(90deg);
   

      &::after{
      
            content: "";
            display: inline-block;
            height: 10rem;
            width: .3rem;
            background: $slate-color-3;
            transform: rotate(90deg);
            position: relative;
            top: 0rem;
            left: 7rem;
            @include respond(phone2){
                display: none;
            }
        }

    .gmail__address{
        @include respond(phone2){
        display: none;
    }
    
    }
    .gmail__address>a{
        transition: all .2s ease-in;
        &:active, &:visited{
            color: $color-1;
        }
        &:hover{
            cursor: pointer;
            color: $color-1;
            transform: scale(1.2);
        }
        color: $slate-color1;
        text-decoration: none;
        font-size: 1.2rem;
        font-family: $font-secondary;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

}